extends layout

block content
  .container
    h1.edit-header Local Login

    form(method="POST", action="/login/local")
      label(for="username") Username
      input(type="text", name="username", id="username", placeholder="Enter username", required)

      label(for="password") Password
      input(type="password", name="password", id="password", placeholder="Enter password", required)

      button(type="submit") Login

